@import '../../style/classes';

.main-upload {
  margin: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;

  &__image-container {
    width: 70vw;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;

    div {
      height: 100% !important;
      width: auto !important;
    }
    img,
    video {
      height: 100% !important;
      object-fit: contain;
    }
  }
  &__heading-container {
    margin-top: 100px !important;
  }
  button:disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}
